body {
    background-color: #fee9d8;
    padding: 0;
    margin: 0;
}

.body_all {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

.body_all .header_all {
    background-color: #ffa200;
    height: 70px;
    align-items: center;
    display: flex;
}

.body_all .header_all .header-logo {
    justify-content: flex-end;
}

.body_all .header_all .header-logo img {
    height: 50px;
    width: 50px;
    border-radius: 50px;
}

.body_all .header_all .header-logo h4 {
    padding: 10px 20px;
    color: #fff;
    font-weight: 600;
    cursor: pointer;
}

.body_all .header_all .header-logo h4 a {
    text-decoration: none;
    color: #fff;
}

.body_all .header_all .header-menu {
    line-height: 70px;
    height: 70px;
}

.body_all .header_all .header-menu .menu li {
    list-style: none;
    padding: 0 25px;
    font-weight: 500;
}

.body_all .header_all .header-menu .menu li a {
    text-decoration: none;
    color: #fff;
    transition: .4s ease;
}

.body_all .header_all .header-menu .menu li a:hover {
    text-decoration: none;
    color: #fff;
    border-radius: 15px;
    min-height: 30px;
    padding: 8px;
    background-color: #fcbe35;
    transition: .4s ease;
}

.body_all .header_all .header-search form {
    display: flex;
}

.body_all .header_all .header-search input {
    height: 40px;
    width: 400px;
    border-radius: 15px;
    margin-right: -100px;
}

.body_all .header_all .header-search button {
    height: 40px;
    border-radius: 15px;
    background-color: #3b5995;
    width: 100px;
    color: #fff;
}

.body_all .header_all .header-icon {
    display: flex;
    line-height: 70px;
    height: 70px;
    align-items: center;
}

.body_all .header_all .header-icon h6 {
    line-height: 70px;
    height: 70px;
    margin: 10px;
}

.body_all .header_all .header-icon span {
    padding: 10px;
    color: #fff;
    transition: 0.4s;
}

.body_all .header_all .header-icon span button {
    border: none;
    background: none;
}

.body_all .header_all .header-icon span:hover {
    color: #d2d17e;
    transition: 0.4s;
}

.bg_deal {
    position: relative;
}

.bg_deal img {
    width: 100%;
}

.bg_deal .content_deal h3 {
    font-size: 50px;
    font-weight: 700;
    font-family: cursive;
    color: #fff;
    padding: 20px;
}

.bg_deal .content_deal p {
    font-size: 20px;
    color: #fff;
    padding: 20px;
}

.content_deal {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
}

.days_deal {
    width: 100px;
    position: relative;
    padding: 80px;
    margin: 0 -50px;
}

.days_deal h4 {
    position: absolute;
    width: 150px;
    border: 5px solid #fff;
    border-radius: 50%;
    height: 150px;
    line-height: 150px;
    bottom: 0;
    left: 0;
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-left: 245px;
}

.days_deal p {
    position: absolute;
    width: 150px;
    height: 150px;
    line-height: 190px;
    bottom: 0;
    left: 0;
    color: #fff;
    margin: 0;
    padding: 0;
    margin-left: 245px;
}